* {
    margin: 0;
    padding: 0;
}

.contenedor {
    height: 89vh;
}

div {
    padding: 2rem;
}

.contenedorForm{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 2rem;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid gray;
    box-shadow: -1px -1px 20px -1px rgb(211, 209, 209);
    background-color: white;
}

form:hover {
    border: 1px solid #004E98;
}

h1 {
    font-size: 1.5rem;;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid lightgray;
}

input:focus {
    border: 1px solid #004E98;
    outline: none;
}

button {
    background-color: #004E98;
    border-radius: 0.5rem;
    border: none;
    transition: all .2s ease-in;
    color: white;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}

button:hover{
    cursor: pointer;
    background-color: #01325f;
}