@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #FCFCFC;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
}

nav div {
    display: flex;
    align-items: center;
}

nav img {
    width: 5rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 6rem;
    margin-left: 6rem;
}

nav ul li a {
    font-weight: bold;
    cursor: pointer;
    font-size: 1.25rem;
    transition: all .2s ease-in;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: #004E98;
}

.botones {
    display: flex;
    gap: 2rem;
}

.botones img {
    width: auto;
    cursor: pointer;
}

nav div button {
    background-color: white;
    border-radius: 25px;
    border: 2px solid #004E98;
    color: #004E98;
    transition: all .2s ease-in;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

nav div button:hover {
    background-color: #004E98;
    color: white;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    gap: 1.25rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    height: 10.5vh;
    border-top: 1px solid lightgray;
}

footer label {
    font-size: 1rem;
}


@media (max-width: 1000px) {
    nav ul {
        gap: 2rem;
        margin-left: 2rem;
    }

    nav img {
        width: 3rem;
    }

    nav ul li a {
        font-size: 1rem;
    }

    nav div button {
        padding: 0.5rem 0.75rem;
    }
}