header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #004e98;
  color: aliceblue;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;

}

.wrapper {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

header nav {
  float: right;
  line-height: 200px;
}

header nav a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  line-height: normal;
  font-size: 20px;
  font-weight: bold;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

section {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-top: 5vh;
}

button {
  background-color: #b34040;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

header nav a:hover {
  background: #f56f3a;
  border-radius: 50px;
}

.notification {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.5s ease;
  max-width: 500px;

}

.notification:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.megusta {
  background-color: #b34040;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.5s ease;
  max-width: 500px;
  color: aliceblue;
}

.megusta:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.Solicitudes {
  background-color: #45d37b;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.5s ease;
  max-width: 500px;

}

.Solicitudes:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.logo {
  margin-right: 10px;
}

aside {
  float: right;
  width: 200px;
  margin-top: 2vh;
  margin-right: 5rem;

}

.contenedor2 {
  height: 72vh;
  gap: 1.25rem;
}

.ofertas>p {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.5s ease;
  max-width: 500px;
}