body{
    max-width: 100vw;
    min-height: 100vh;
    margin: 0;
}
header{
    padding: 3px;
    background-color: #004E98;
    color:#FCFCFC;
    max-width: 100vw;
    min-height: 10vh;
    display: flex;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-height: 80vh;
}
form{
    border: 3px solid #004E98;
    width: 400px;
}
legend{
    color: #5AA9E6;
    font-size: 30px;
}
div{
    padding: 15px;
}
.rectangulo{
    border-radius: 10px;
}
.rectangulo:hover{
    transform: scale(1,1.5);
    transition-duration: 1s;
}
.boton{
    border-radius: 10px;
    color: #FCFCFC;
    background-color: #004E98;
    width: 100px;
    height: 40px;
    font-size: 20px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #FCFCFC;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
}

nav div {
    display: flex;
    align-items: center;
}

nav img {
    width: 5rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 6rem;
    margin-left: 6rem;
}

nav ul li a {
    font-weight: bold;
    cursor: pointer;
    font-size: 1.25rem;
    transition: all .2s ease-in;
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: #004E98;
}

.botones {
    display: flex;
    gap: 0.5rem;
}

nav div button {
    background-color: white;
    border-radius: 25px;
    border: 2px solid #004E98;
    color: #004E98;
    transition: all .2s ease-in;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

nav div button:hover {
    background-color: #004E98;
    color: white;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    gap: 1.25rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
    height: 10.5vh;
    border-top: 1px solid lightgray;
}

footer label {
    font-size: 1rem;
}


@media (max-width: 1000px)
{
    nav ul {
        gap: 2rem;
        margin-left: 2rem;
    }

    nav img {
        width: 3rem;
    }

    nav ul li a {
        font-size: 1rem;
    }

    nav div button {
        padding: 0.5rem 0.75rem;
    }
}
